{% extends 'base.html.twig' %}

{% block body %}

	{# Fil d'Arianne #}
	<nav	role="navigation"	class="fr-breadcrumb"	aria-label="vous êtes ici :">
		<button	class="fr-breadcrumb__button"	aria-expanded="false"	aria-controls="breadcrumb-1">
			Voir le fil d’Ariane
		</button>
		<div	class="fr-collapse"	id="breadcrumb-1">
			<ol	class="fr-breadcrumb__list">
				<li>
					<a	class="fr-breadcrumb__link"	href="/">
						Accueil
					</a>
				</li>
				<li>
					<a	class="fr-breadcrumb__link"	href="/compte/">
						Compte
					</a>
				</li>
				<li>
					<a	class="fr-breadcrumb__link"	href="/parc/">
						Parc
					</a>
				</li>
				<li>
					<a	class="fr-breadcrumb__link"	href="/parc/{{action}}/{{ vehicule.id }}">
						{{ action == 'supprimer' ? 'Supprimer': action=='modifier' ? 'Modifier': 'Ajouter' }}
						un véhicule
					</a>
				</li>
				<li>
					<a	class="fr-breadcrumb__link"	aria-current="page">
						Ajouter des images
					</a>
				</li>
			</ol>
		</div>
	</nav>

	<h2	class="fr-mt-2w">
		Ajouter des photographies
	</h2>

	<p	class="fr-text--sm">
		Les photographies des véhicules rendent le site plus attrayant pour les utilisateurs, tout en les aidant à se faire une idée du véhicule
		qu'ils souhaitent réserver.
	</p>

	<div	class="fr-container">

		<div	class="fr-mt-2w fr-grid-row fr-grid-row--gutters">

			<div	id="fiche-vehicule"	class="cs-fiche-vehicule">

				{# GALLERIE #}
				{% set len = vehicule.photos|length %}

				{% if(len > 0) %}
					<div	class="cs-gallerie fr-grid-row fr-grid-row--gutters">
						{# vue principale #}
						<figure	class="fr-col-{{ len == 1 ? '12' : len == 2 ? '6' : '9' }}">
							<img	src="{{ asset('images/uploads/' ~ vehicule.photos[0].path) }}"	class="fr-responsive-img cs-figure cs-figure--main"	alt="Vue principale du véhicule">
								<figcaption	class="hidden">
									Vue principale du véhicule
								</figcaption>
							</figure>

							{# vue de profil #}
							{% if(len > 1) %}
								<div	class="fr-col-{{ len == 2 ? '6' : '3 fr-mt-1w' }}">
									<figure	class="cs-figure">
										<button	class="fr-btn cs-gallerie-btn">
											<img	src="{{ asset('images/uploads/' ~ vehicule.photos[1].path) }}"	class="fr-responsive-img"	alt="Vue de l'avant du véhicule"></button>
											<figcaption	class="hidden">
												Vue de profil du véhicule
											</figcaption>
										</figure>

										{# vue de l'avant #}
										{% if(len > 2) %}
											<figure	class="cs-figure">
												<button	class="fr-btn cs-gallerie-btn">
													<img	src="{{ asset('images/uploads/' ~ vehicule.photos[2].path) }}"	class="fr-responsive-img"	alt="Vue de l'avant du véhicule"></button>
													<figcaption	class="hidden">
														Vue de l'avant du véhicule
													</figcaption>
												</figure>
											{% endif %}

											{# vue de l'arrière #}
											{% if(len > 3) %}
												<figure	class="cs-figure">
													<button	class="fr-btn cs-gallerie-btn">
														<img	src="{{ asset('images/uploads/' ~ vehicule.photos[3].path) }}"	class="fr-responsive-img"	alt="Vue de l'arrière du véhicule"></button>
														<figcaption	class="hidden">
															Vue de l'arrière du véhicule
														</figcaption>
													</figure>
												{% endif %}
											</div>
										{% endif %}
									</div>
								{% endif %}
								{# FIN GALERIE #}

								<p	class="bold">
									Vous n'avez pas d'image du véhicule sur cet appareil?
								</p>

								<p>
									Vous avez la possibilité de prendre le véhicule en photo
									<span	class="bold">
										à l'aide de votre téléphone Néogend
									</span>
									!
									Flashez le QR-code ci-dessous, et vous serez redirigé sur cette page sans avoir à vous reconnecter.
								</p>

								{{ form_start(form) }}

								<div	class="cs-qr-ctnr fr-grid-row fr-mt-2w">
									<div	class="fr-col-{{ token == false ? '8' : '12' }}">
										<div	class="fr-upload-group">
											<label	class="fr-label"	for="photo_photos">
												Ajouter des images
												<span	class="fr-hint-text">
													Taille maximale : 10 Mo. Formats supportés : jpg, png, pdf. Plusieurs fichiers possibles.
												</span>
											</label>
											{{ form_widget(form.photos) }}
										</div>
									</div>

									{% if (token == false ) %}

										<div	class="fr-col-4">
											<div	class="qr-ctnr">
												<figure>
													<img	height="100"	src="{{ qr_code_url(url) }}" />
													<figcaption>
														Ajouter des images depuis mon Néo
													</figcaption>
												</figure>
											</div>
										</div>

									{% endif %}

								</div>

								<ul	class="fr-mt-4w fr-btns-group fr-btns-group--inline-md">

									<li>
										<!-- Bouton d'ouverture de la modale -->
										<button	type="button"	data-fr-opened="false"	aria-controls="confirm--no-img"	class="fr-btn fr-btn--secondary">
											Retour vers la gestion du parc
										</button>

									</li>

									<li>
										<button	type="submit"	class="fr-btn">
											Enregistrer (et mettre en forme si nécessaire)
										</button>
									</li>

								</ul>

								{{ form_end(form) }}

							</div>

						</div>

						<dialog	aria-labelledby="confirm--no-img-title"	id="confirm--no-img"	class="fr-modal"	role="dialog">
							<div	class="fr-container fr-container--fluid fr-container-md">
								<div	class="fr-grid-row fr-grid-row--center">
									<div	class="fr-col-12 fr-col-md-8 fr-col-lg-6">
										<div	class="fr-modal__body">
											<div	class="fr-modal__header">
												<button	class="fr-btn--close fr-btn"	aria-controls="confirm--no-img">
													Fermer
												</button>
											</div>
											<div	class="fr-modal__content">
												<h1	id="confirm--no-img-title"	class="fr-modal__title">
													<span	class="fr-icon-arrow-right-line fr-icon--lg"></span>
													Confirmation
												</h1>
												<p>
													Quitter cette page et revenir à la gestion du parc de véhicules?
												</p>
											</div>
											<div	class="fr-modal__footer">
												<div	class="fr-btns-group fr-btns-group--right fr-btns-group--icon-left fr-btns-group--inline-md">
													<a href="/parc"	class="fr-btn fr-icon-close-line fr-btn--icon-left fr-btn--secondary">
														Quitter la page
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</dialog>

					{% endblock %}
					