{% extends 'base.html.twig' %}

{% block body %}

	{# Fil d'Arianne #}
	<nav	role="navigation"	class="fr-breadcrumb"	aria-label="vous êtes ici :">
		<button	class="fr-breadcrumb__button"	aria-expanded="false"	aria-controls="breadcrumb-1">
			Voir le fil d’Ariane
		</button>
		<div	class="fr-collapse"	id="breadcrumb-1">
			<ol	class="fr-breadcrumb__list">
				<li>
					<a	class="fr-breadcrumb__link"	href="/">
						Accueil
					</a>
				</li>
				<li>
					<a	class="fr-breadcrumb__link"	href="/compte/">
						Compte
					</a>
				</li>
				<li>
					<a	class="fr-breadcrumb__link"	href="/parc/">
						Parc
					</a>
				</li>
				<li>
					<a	class="fr-breadcrumb__link"	href="/parc/{{action}}/{{ vehicule.id }}">
						{{ action == 'supprimer' ? 'Supprimer': action=='modifier' ? 'Modifier': 'Ajouter' }}
						un véhicule
					</a>
				</li>
				<li>
					<a	class="fr-breadcrumb__link"	aria-current="page">
						Mise en forme des photographies
					</a>
				</li>
			</ol>
		</div>
	</nav>

	<h2	class="fr-mt-2w">
		Mise en forme des photographies
	</h2>

	<p	class="fr-text--sm">
		Les photographies que vous venez d'ajouter peuvent etre mises en forme avant d'apparaitre sur le site.
	</p>

	<div	class="fr-container">

		<div	class="fr-mt-2w fr-grid-row fr-grid-row--gutters">

			<div	id="fiche-vehicule"	class="cs-fiche-vehicule">

				{# GALLERIE #}
				{% set len = vehicule.photos|length %}

				{% if(len > 0) %}
					<div	class="cs-gallerie fr-grid-row fr-grid-row--gutters">
						{# vue principale #}
						<figure	class="fr-col-{{ len == 1 ? '12' : len == 2 ? '6' : '9' }}">
							<img	src="{{ asset('images/uploads/' ~ vehicule.photos[0].path) }}"	class="fr-responsive-img cs-figure cs-figure--main fr-mt-6w"	alt="Vue principale du véhicule">
								<figcaption	class="hidden">
									Vue principale du véhicule
								</figcaption>
							</figure>

							{# vue de profil #}
							{% if(len > 1) %}
								<div	class="fr-col-{{ len == 2 ? '6' : '3 fr-mt-1w' }} fr-mt-2w">
									<figure	class="cs-figure">
										<button	class="fr-btn cs-gallerie-btn">
											<img	src="{{ asset('images/uploads/' ~ vehicule.photos[1].path) }}"	class="fr-responsive-img"	alt="Vue de l'avant du véhicule"></button>
											<figcaption	class="hidden">
												Vue de profil du véhicule
											</figcaption>
										</figure>

										{# vue de l'avant #}
										{% if(len > 2) %}
											<figure	class="cs-figure fr-mt-6w">
												<button	class="fr-btn cs-gallerie-btn">
													<img	src="{{ asset('images/uploads/' ~ vehicule.photos[2].path) }}"	class="fr-responsive-img"	alt="Vue de l'avant du véhicule"></button>
													<figcaption	class="hidden">
														Vue de l'avant du véhicule
													</figcaption>
												</figure>
											{% endif %}

											{# vue de l'arrière #}
											{% if(len > 3) %}
												<figure	class="cs-figure fr-mt-6w fr-mb-2w">
													<button	class="fr-btn cs-gallerie-btn">
														<img	src="{{ asset('images/uploads/' ~ vehicule.photos[3].path) }}"	class="fr-responsive-img"	alt="Vue de l'arrière du véhicule"></button>
														<figcaption	class="hidden">
															Vue de l'arrière du véhicule
														</figcaption>
													</figure>
												{% endif %}
											</div>
										{% endif %}

									</div>

								{% endif %}
								{# FIN GALERIE #}

								<div	class="fr-grid-row fr-grid-row--gutters fr-mt-2w">
									{# éditeur d'image #}
									
									<ul	id="editor"	class="cs-image-editor fr-col-{{ len == 1 ? '12' : len == 2 ? '6' : '9' }} fr-btns-group fr-btns-group--inline-lg fr-btns-group--center">
										<li>
											<button	title="Faire pivoter de 90 degrés vers la gauche" type="button"	id="rotation-negative"	class="rotation-negative fr-btn fr-icon-arrow-go-back-line">
												- 90 degrés
											</button>
										</li>
										<li>
											<button	title="Faire pivoter de 90 degrés vers la droite" type="button"	id="rotation-positive"	class="rotation-positive fr-btn fr-icon-arrow-go-forward-line">
												+ 90 degrés
											</button>
										</li>
										<li>
											<button	title="Télécharger une photographie supplémentaire" type="button"	class="fr-btn fr-icon-upload-2-line">
												Ajouter
											</button>
										</li>
										<li>
											<button	title="Supprimer cette photo" type="button"	class="fr-btn fr-icon-delete-line">
												Supprimer
											</button>
										</li>
									</ul>
									{# fin éditeur d'image #}

									<ul	class="fr-mt-4w fr-btns-group fr-btns-group--inline-md">

										<li>
											<!-- Bouton d'ouverture de la modale -->
											<button	type="button"	data-fr-opened="false"	aria-controls="confirm--no-img"	class="fr-btn fr-btn--secondary">
												Réinitialiser
											</button>

										</li>

										<li>
											<button	type="submit"	class="fr-btn">
												Transmettre
											</button>
										</li>

									</ul>

								</div>

							</div>

						</div>

					</div>

					<dialog	aria-labelledby="confirm--no-img-title"	id="confirm--no-img"	class="fr-modal"	role="dialog">
							<div	class="fr-container fr-container--fluid fr-container-md">
								<div	class="fr-grid-row fr-grid-row--center">
									<div	class="fr-col-12 fr-col-md-8 fr-col-lg-6">
										<div	class="fr-modal__body">
											<div	class="fr-modal__header">
												<button	class="fr-btn--close fr-btn"	aria-controls="confirm--no-img">
													Fermer
												</button>
											</div>
											<div	class="fr-modal__content">
												<h1	id="confirm--no-img-title"	class="fr-modal__title">
													<span	class="fr-icon-arrow-right-line fr-icon--lg"></span>
													Confirmation
												</h1>
												<p>
													Réinitialiser les modifications apportées aux photographies? Les photographies seront remises à leur état initial.
												</p>
											</div>
											<div	class="fr-modal__footer">
												<div	class="fr-btns-group fr-btns-group--right fr-btns-group--icon-left fr-btns-group--inline-md">
													<a href="/parc/editer_images?vehicule={{ vehicule.id }}&action=modifier"	class="fr-btn fr-icon-close-line fr-btn--icon-left fr-btn--secondary">
													Réinitialiser
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</dialog>

				{% endblock %}
				