{% extends 'base.html.twig' %}

{% block body %}

	<div class="fr-notice fr-notice--info">
		<div class="fr-container">

			{% for role in roles %}
				<div class="fr-notice__body fr-mt-4w">
					<p>
						<span class="fr-notice__title">Rôle "{{role.libelle}}"</span>
						<span class="fr-notice__desc">Les champs ci-dessous ne sont accessibles qu'aux personnels ayant ce rôle particulier.</span>
					</p>
					<button title="Masquer le message" onclick="const notice = this.parentNode; notice.style.display = 'none';" class="fr-btn--close fr-btn">Masquer le message</button>
				</div>

				<div class="fr-accordions-group">

					{% for key, perm in role.permissions %}
						<section class="fr-accordion">
							<h3 class="fr-accordion__title">
								<button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-{{key}}">{{perm.action.libelle}}</button>
							</h3>
							<div
								class="fr-collapse" id="accordion-{{key}}">
								<!-- données de test -->
								{% if perm.action.template is null %}

									<h4 class="fr-h4">Pas encore de contenu</h4>

								{% else %}

									{{ include(perm.action.template) }}

								{% endif %}

								<p>Lorem ipsum dolor sit amet, consectetur adipiscing,
									<a href="#test" target="_blank">link test</a>
									incididunt, ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et. Diam maecenas sed enim ut. Accumsan lacus vel facilisis volutpat est. Ut aliquam purus sit amet luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit ut.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing,
									<a href="#test" target="_blank">link test</a>
									incididunt, ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et. Diam maecenas sed enim ut. Accumsan lacus vel facilisis volutpat est. Ut aliquam purus sit amet luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit ut.</p>
								<ul>
									<li>list item</li>
									<li>list item</li>
									<li>list item<ul>
											<li>list item niveau 2</li>
											<li>list item niveau 2</li>
											<li>list item niveau 2</li>
										</ul>
									</li>
								</ul>
							</div>
						</section>
					{% endfor %}

				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
