{% extends 'base.html.twig' %}

{% block body %}

	{# Fil d'Arianne #}
	<nav role="navigation" class="hide-s hide-m fr-breadcrumb" aria-label="vous êtes ici :">
		<button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
		<div class="fr-collapse" id="breadcrumb-1">
			<ol class="fr-breadcrumb__list">
				<li>
					<a class="fr-breadcrumb__link" aria-current="page">Accueil</a>
				</li>
			</ol>
		</div>
	</nav>

	{# Filtres de recherche #}
	<div
		id="hideOnScroll" class="cs-filtres-container">

		{# DE ... -> À ... #}
		<div class="cs-btn-ctnr cs-date-ctnr">
			<button class="cs-btn cs-btn-from-to cs-btn--left" data-fr-opened="true" aria-controls="fr-modal--from-to">
				<span class="cs-from-to">DE</span>
				<span id="select-from-date--target" class="cs-from-to-value">Aujourd'hui</span>
			</button>
			<div class="separator"></div>
			<button class="cs-btn cs-btn-from-to cs-btn--right" data-fr-opened="false" aria-controls="fr-modal--from-to">
				<span class=" cs-from-to">AU</span>
				<span id="select-to-date--target" class="cs-from-to-value">DEMAIN</span>
			</button>
		</div>

		{# TAGS #}
		<div class="cs-btn-ctnr cs-tags-ctnr">
			<button class="cs-btn cs-btn-tag cs-btn-tag--left">
				<span class="cs-tag">Catégorie</span>
			</button>
			<button class="cs-btn cs-btn-tag cs-btn-tag--right">
				<span class="cs-tag fr-btn--icon-left fr-icon-equalizer-line">
					Filtres</span>
			</button>
		</div>

	</div>

	<div class="fr-grid-row fr-grid-row--gutters cs-main">

		<p class="cs-nb-vehicules fr-col-sm-12 fr-h6">{{ vehicules|length }}&nbsp;véhicule{{ vehicules|length > 1 ? 's' : '' }}
			disponible{{ vehicules|length>1 ? 's' : '' }}.</p>

		{% for vehicule in vehicules %}

			<div class="cs-card fr-col-sm-12 fr-mb-2w hoverable shadow">
				<figure class="cs-img-container left">
					<img class="cs-img" src="{{ asset('images/4L.jpg') }}" alt="Renault 4l sérigraphiée"/>
					<figcaption class="hidden">Renault 4l sérigraphiée</figcaption>
				</figure>

				<div class="left cs-descr-container">
					<dl>
						<dt class="cs-marque">{{vehicule.marque}}&nbsp;<span class="cs-modele">{{vehicule.modele}}</span>
						</dt>
						{% if (vehicule.motorisation ~ vehicule.finition) is empty %}
							<br/>
						{% else %}
							<dd>{{vehicule.motorisation ~ ' ' ~ vehicule.finition}}</dd>
						{% endif %}
						<dd>
							<ul class="fr-tags-group cs-tags">
								<li>
									<p class="fr-tag fr-tag--sm">{{vehicule.transmission.code}}</p>
								</li>
								<li>
									<p class="fr-tag fr-tag--sm">{{vehicule.carburant.libelle}}</p>
								</li>
							</ul>
						</dd>
						<dd title="{{vehicule.NbPlaces}} place{{vehicule.NbPlaces > 1 ? 's' : ''}}">
							{% for i in range(1, vehicule.NbPlaces) %}
								<i class="cs-user-icon fr-btn fr-icon-user-line fr-btn--icon-left"></i>
							{% endfor %}
						</dd>
					</dl>
				</div>
			</div>
		{% endfor %}

	</div>

	{# MODALES #}

	{# modal -> from #}
	<dialog aria-labelledby="fr-modal--from-to-title" id="fr-modal--from-to" class="fr-modal" role="dialog">
		<div class="fr-container fr-container--fluid fr-container-md">
			<div class="fr-grid-row fr-grid-row--center">
				<div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
					<div class="fr-modal__body">

						<div
							class="fr-mt-2w fr-modal__content">
							{# stepper #}
							<div id="fr-modal--from-to-title" class="fr-stepper">
								<h2 class="fr-stepper__title">
									Début de la réservation
									<span class="fr-stepper__state">Étape 1 sur 2</span>
								</h2>
								<div class="fr-stepper__steps" data-fr-current-step="1" data-fr-steps="2"></div>
								{# <p class="fr-stepper__details">
																																									<span class="fr-text--bold">Étape suivante :</span>
																																									Fin de la réservation
																																								</p> #}
							</div>
							{# fin stepper #}

							<div class="fr-grid-row">
								<div class="fr-select-group fr-col-6 fr-col-sm-6">
									<label class="fr-label" for="select-from-date">Date
									</label>
									<select class="fr-select" id="select-from-date" name="select-from-date">
										{% for i, date in dates %}

											<option data-am="{{date.horaires.AM is defined ? date.horaires.AM:''}}" data-pm="{{date.horaires.PM is defined ? date.horaires.PM:''}}" class="center" {{date.horaires|length == 0 ? 'disabled title="Le CSAG n\'est pas ouvert à cette date"':''}} value="{{ date.en }} ">
												{{ date.fr }}
											</option>
										{% endfor %}

									</select>
								</div>
								<div class=" fr-select-group fr-col fr-col-sm-3 fr-pl-1w">
									<label class="fr-label" for="select-from-date">Heure
									</label>
									<select class="fr-select" id="select-hint" name="select-hint">
										<option value="1" selected>08</option>
										<option value="2">09</option>
										<option value="3">10</option>
										<option value="4">11</option>
									</select>
								</option>
							</div>
							<div class="fr-select-group fr-select-group--disabled fr-col fr-col-sm-3 fr-pl-1w cs-select-minutes">
								<label class="fr-label" for="select-hint">&nbsp;
								</label>
								<select disabled class="fr-select" id="select-hint" name="select-hint">
									<option value="00" selected disabled hidden>00</option>
								</select>
							</div>
						</div>

					</div>
					<div class="fr-modal__footer">
						<div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-right">
							<button type="button" class="fr-btn--close fr-btn fr-icon-arrow-right-line fr-btn--icon-right fr-btn--secondary">
								Suivant
							</button>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</dialog>{% endblock %}
