{% extends 'base.html.twig' %}

{% block body %}

	{# Fil d'Arianne #}
	<nav role="navigation" class="hide-s hide-m fr-breadcrumb" aria-label="vous êtes ici :">
		<button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
		<div class="fr-collapse" id="breadcrumb-1">
			<ol class="fr-breadcrumb__list">
				<li>
					<a class="fr-breadcrumb__link" aria-current="page">Accueil</a>
				</li>
			</ol>
		</div>
	</nav>

	{# Filtres de recherche #}
	<div id="hideOnScroll"
		class="cs-filtres-container">

		{# DE ... -> À ... #}
		<div class="cs-btn-ctnr cs-date-ctnr">
			<button class="cs-btn cs-btn-from-to cs-btn--left">
				<span class="cs-from-to">DE</span>
				<span class="cs-from-to-value">AUJ.</span>
			</button>
			<div class="separator"></div>
			<button class="cs-btn cs-btn-from-to cs-btn--right">
				<span class="cs-from-to">AU</span>
				<span class="cs-from-to-value">DEMAIN</span>
			</button>
		</div>

		{# TAGS #}
		<div class="cs-btn-ctnr cs-tags-ctnr">
			<button class="cs-btn cs-btn-tag cs-btn-tag--left">
				<span class="cs-tag">Catégorie</span>
			</button>
			<button class="cs-btn cs-btn-tag cs-btn-tag--right">
				<span class="cs-tag">transmission</span>
			</button>
		</div>

	</div>

	<div class="fr-grid-row fr-grid-row--gutters cs-main">

		<p class="cs-nb-vehicules fr-col-sm-12 fr-h6">{{ vehicules|length }}&nbsp;véhicule{{ vehicules|length > 1 ? 's' : '' }}
			disponible{{ vehicules|length>1 ? 's' : '' }}.</p>

		{% for vehicule in vehicules %}

			<div class="cs-card fr-col-sm-12 fr-mb-2w hoverable shadow">
				<figure class="cs-img-container left">
					<img class="cs-img" src="{{ asset('images/4L.jpg') }}" alt="Renault 4l sérigraphiée"/>
					<figcaption class="hidden">Renault 4l sérigraphiée</figcaption>
				</figure>

				<div class="left cs-descr-container">
					<dl>
						<dt class="cs-marque">{{vehicule.marque}}&nbsp;<span class="cs-modele">{{vehicule.modele}}</span>
						</dt>
						{% if (vehicule.motorisation ~ vehicule.finition) is empty %}
							<br/>
						{% else %}
							<dd>{{vehicule.motorisation ~ ' ' ~ vehicule.finition}}</dd>
						{% endif %}
						<dd>
							<ul class="fr-tags-group cs-tags">
								<li>
									<p class="fr-tag fr-tag--sm">{{vehicule.transmission.code}}</p>
								</li>
								<li>
									<p class="fr-tag fr-tag--sm">{{vehicule.carburant.libelle}}</p>
								</li>
							</ul>
						</dd>
						<dd title="{{vehicule.NbPlaces}} place{{vehicule.NbPlaces > 1 ? 's' : ''}}">
							{% for i in range(1, vehicule.NbPlaces) %}
								<i class="cs-user-icon fr-btn fr-icon-user-line fr-btn--icon-left"></i>
							{% endfor %}
						</dd>
					</dl>
				</div>
			</div>
		{% endfor %}

	</div>

{% endblock %}
