{% extends 'base.html.twig' %}

{% block body %}

	{{ include('accueil/accueil/fil_arianne.html.twig' )}}

	{{ include('accueil/accueil/filtres.html.twig' )}}


	<div class="fr-grid-row fr-grid-row--gutters cs-main">

		<p id="X-vls-dispos" class="cs-nb-vehicules fr-col-12 fr-col-sm-12 fr-h6">
			{{ vehicules|length }}
			{{ vehicules|length > 1 ? 'véhicules' : 'véhicule' }}
			{{ (vehicules|length)>1 ? 'disponibles' : 'disponible' }}
			.
		</p>

		<ul id="filtres_appliques" class="cs-filtres-appliques fr-tags-group"></ul>

		{# carte affichée si aucun véhicule disponible #}
		<div id="no-result" class="hidden vehicule-card vehicule-card--no-result cs-card fr-col-sm-12 fr-mb-2w hoverable shadow">
			<figure class="cs-img-container left">
				<img class="cs-img" src="{{ asset('images/no_image.jpg') }}" alt="Renault 4l sérigraphiée">
				<figcaption class="hidden">
					Renault 4l sérigraphiée
				</figcaption>
			</figure>

			<div class="left cs-descr-container">
				<dl>
					<dt class="cs-marque">
						Aucun résultat.
					</dt>
					{% if vehicules|length %}
						<dd>
							{{ vehicules|length }}
							{{ vehicules|length > 1 ? 'véhicules' : 'véhicule' }}
							<span class="hide-s">
								{{ (vehicules|length)>1 ? 'pourraient' : 'pourrait' }}
								vous être
								{{ (vehicules|length)>1 ? 'proposés' : 'proposés' }}
							</span>
							en élargissant vos critères de recherche.
															.
						</dd>
					{% endif %}

				</dl>
			</div>
		</div>

		{# Affichage des véhicules #}
		{% for n, vehicule in vehicules %}
			{% set resas = '' %}
			{% for reservation in vehicule.reservations %}
				{% if reservation.statut.code != 'Annulée (USR)' and reservation.statut.code != 'Annulée' %}
					{% set resas = resas ~ (reservation.dateDebut|date('Y-m-d h:i:00')) ~ '_' ~ (reservation.dateFin|date('Y-m-d h:i:00')) ~ (loop.last ? '' :'|') %}
				{% endif %}
			{% endfor %}

			<a {% if vehicule.restriction is not empty and vehicule.restriction.code != "NONE" %} title="{{vehicule.restriction.description}}" {% endif %} data-reservations="{{ resas }}" href="{{ path('resa_reserver', { vl_id: vehicule.id }) }}" class="vehicule-card vehicule-card--result cs-card fr-col-sm-12 fr-mb-2w hoverable shadow" data-index="{{ n }}" data-unite={{ vehicule.unite.codeUnite }} data-categorie="{{ vehicule.categorie.libelle }}" data-serigraphie="{{ vehicule.serigraphie ? 'Oui' : 'Non' }}" data-transmission="{{ vehicule.transmission.code }}" data-nbplaces="{{ vehicule.NbPlaces }}">
				<figure class="cs-img-container left">
					<img class="cs-img" src="{{ vehicule.photos | length ? asset('images/uploads/' ~ vehicule.photos[0].path) : asset('images/no_image.jpg') }}" alt="{{ vehicule.marque ~ ' ' ~ vehicule.modele }}">
					<figcaption class="hidden">
						Photo principale du véhicule
					</figcaption>
				</figure>

				<div class="left cs-descr-container">
					<dl>
						<dt class="cs-marque">
							{{ vehicule.marque }}
							&nbsp;
							<span class="cs-modele">
								{{ vehicule.modele }}
							</span>
						</dt>
						{% if (vehicule.immatriculation ~ vehicule.motorisation ~ vehicule.finition) is empty %}
							<br/>
						{% else %}
							<dd>
								<strong>{{ vehicule.immatriculation}}</strong>&nbsp;{{ vehicule.motorisation ~ ' ' ~ vehicule.finition }}
							</dd>
						{% endif %}
						<dd>
							<ul class="fr-tags-group cs-tags">
								<li>
									<p class="fr-tag fr-tag--sm fr-fi-map-pin-2-fill fr-tag--icon-left cs-location-tag" title="{{ vehicule.unite.nomLong }}">
										{{ vehicule.unite.nomCourt }}
									</p>
								</li>
								<li>
									<p class="fr-tag fr-tag--sm">
										{{ vehicule.transmission.code }}
									</p>
								</li>
								<li>
									<p class="fr-tag fr-tag--sm">
										{{ vehicule.carburant.libelle }}
									</p>
								</li>
							</ul>
						</dd>
						<dd title="{{ vehicule.NbPlaces }} place{{ vehicule.NbPlaces > 1 ? 's' : '' }}">
							{% for i in range(1, vehicule.NbPlaces) %}
								<i class="cs-user-icon fr-btn fr-icon-user-line fr-btn--icon-left"></i>
							{% endfor %}
						</dd>
					</dl>
				</div>

				<div class="cs-restriction_ctnr">
					{% if vehicule.restriction is not empty and vehicule.restriction.code != "NONE" %}
						<span class="cs-restriction fr-badge fr-badge--sm fr-badge--{{ badge_classes[vehicule.restriction.code] }} fr-icon-information-line fr-badge--icon-left" title="Des restrictions s'appliquent à ce véhicule.">
							{{ vehicule.restriction.libelle}}
						</span>
					{% endif %}
				</div>
			</a>
		{% endfor %}

	</div>

	{# MODALES #}

	{{ include('accueil/accueil/modale_categorie.html.twig' )}}

	{{ include('accueil/accueil/modale_autres_filtres.html.twig' )}}

	{{ include('accueil/accueil/modale_debut_fin.html.twig' )}}

{% endblock %}
