{% extends 'base.html.twig' %}

{% block body %}

  {# Fil d'Arianne #}
  <nav role="navigation" class="hide-s hide-m fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">
      Voir le fil d’Ariane
    </button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <a href="/" class="fr-breadcrumb__link">
            Accueil
          </a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">
            Réserver un véhicule
          </a>
        </li>
      </ol>
    </div>
  </nav>

  {# fiche véhicule #}
  <div id="fiche-vehicule" class="cs-fiche-vehicule">

    {# GALLERIE #}
    <div class="cs-gallerie fr-grid-row fr-grid-row--gutters">
      {# vue principale #}
      <figure class="fr-col-9">
        <img src="{{ asset('images/4L.jpg') }}" class="fr-responsive-img cs-figure cs-figure--main" alt="Vue principale du véhicule">
          <figcaption class="hidden">
            Vue principale du véhicule
          </figcaption>
        </figure>

        {# vue de profil #}
        <div class="fr-col-3 fr-mt-1w">
          <figure class="cs-figure">
            <button class="fr-btn cs-gallerie-btn">
              <img src="{{ asset('images/4L.jpg') }}" class="fr-responsive-img" alt="Vue de l'avant du véhicule"></button>
              <figcaption class="hidden">
                Vue de profil du véhicule
              </figcaption>
            </figure>

            {# vue de l'avant #}
            <figure class="cs-figure">
              <button class="fr-btn cs-gallerie-btn">
                <img src="{{ asset('images/4L.jpg') }}" class="fr-responsive-img" alt="Vue de l'avant du véhicule"></button>
                <figcaption class="hidden">
                  Vue de l'avant du véhicule
                </figcaption>
              </figure>

              {# vue de l'arrière #}
              <figure class="cs-figure">
                <button class="fr-btn cs-gallerie-btn">
                  <img src="{{ asset('images/4L.jpg') }}" class="fr-responsive-img" alt="Vue de l'arrière du véhicule"></button>
                  <figcaption class="hidden">
                    Vue de l'arrière du véhicule
                  </figcaption>
                </figure>
              </div>
            </div>
            {# FIN GALERIE #}

            {# DESCRIPTION VL #}
            <dl class="fr-col-12">
              <dt class="cs-marque">
                {{ vehicule.marque }}
                <span class="cs-modele">
                  {{ vehicule.modele }}
                </span>
              </dt>
              {% if (vehicule.motorisation ~ vehicule.finition) is empty %}
                <br/>
              {% else %}
                <dd>
                  {{ vehicule.motorisation ~ ' ' ~ vehicule.finition }}
                </dd>
              {% endif %}
              <dd>
                <ul class="fr-tags-group cs-tags">
                  <li>
                    <p class="fr-tag fr-tag--sm">
                      {{ vehicule.transmission.code }}
                    </p>
                  </li>
                  <li>
                    <p class="fr-tag fr-tag--sm">
                      {{ vehicule.carburant.libelle }}
                    </p>
                  </li>
                  <li>
                    <p class="fr-tag fr-tag--sm">
                      {{ vehicule.NbPlaces }}
                      {{ vehicule.NbPlaces > 1 ? 'places' : 'place' }}
                    </p>
                  </li>
                </ul>
              </dd>
            </dl>
            {# FIN DESCRIPTION VL #}

            {# INFORMATIONS #}
            <div class="fr-col-12">
              <p class="cs-informations">
                Informations
              </p>
              <ul>
                <li>
                  Néant
                </li>
              </ul>
            </div>
            {# FIN INFORMATIONS #}

            {# JE RÉSERVE #}
            <div class="fr-col-12">
              <p class="cs-informations">
                Disponibilités
              </p>

              <div class="cs-filtres-container">

                {# DE ... -> À ... #}
                <div class="cs-btn-ctnr cs-date-ctnr">
                  <button class="cs-btn cs-btn-from-to cs-btn--left">
                    <span class="cs-from-to">
                      Début
                    </span>
                    <span id="select-from-date--target" class="cs-from-to-value">
                      <div class="cs-from-to-value--date">
                        {{ from.date }}
                      </div>
                      <div id="select-from-heure--target" class="cs-from-to-value--heure">
                        {{ from.heure }}
                      </div>
                    </span>
                  </button>
                  <div class="separator"></div>
                  <button class="cs-btn cs-btn-from-to cs-btn--right">
                    <span class=" cs-from-to">
                      Fin
                    </span>
                    <span id="select-to-date--target" class="cs-from-to-value">
                      <div class="cs-from-to-value--date">
                        {{ to.date }}
                      </div>
                      <div id="select-to-heure--target" class="cs-from-to-value--heure">
                        {{ to.heure }}
                      </div>
                    </span>
                  </button>
                </div>
              </div>
            </div>
            {# FIN JE RÉSERVE #}

            {# CALENDRIERS #}
            {# source: https://gist.github.com/aknosis/3932192 #}
            {% set time = "now"|date("U") %}
            <table>
              <thead>
                <tr class="cs-row-days">
                  <th width="15%">
                    Lundi
                  </th>
                  <th width="15%">
                    Mardi
                  </th>
                  <th width="16%">
                    Mercredi
                  </th>
                  <th width="15%">
                    Jeudi
                  </th>
                  <th width="15%">
                    Vendredi
                  </th>
                  <th width="12%">
                    Samedi
                  </th>
                  <th width="12%">
                    Dimanche
                  </th>
                </tr>
                <tr>
                  {% set trans_day_hash = { 
                      "January": "Janvier", 
                      "February": "Mardi", 
                      "March": "Mercredi", 
                      "April": "Jeudi", 
                      "May": "Vendredi", 
                      "June": "Samedi", 
                      "July": "Dimanche" ,
                      "August":"Août",
                      "September":"Septembre",
                      "October":"Octobre",
                      "November":"Novembre",
                      "December":"Décembre"
                  } %}
                  <th colspan="7">
                    {{ trans_day_hash[time|date('F')] }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% set daysInMonth = time|date('t') %}
                  {% set startDow = time|date('F 1\\s\\t Y')|date('N') - 1 %}
                  {% set dow = startDow %}
                  {% for day in range(1,daysInMonth) %}
                    {% if loop.first and startDow != 0 %}
                      <td colspan="{{ startDow }}"></td>
                    {% endif %}
                    <td>
                      <div>
                        <div class="cs-td-daynum">
                          {{ day }}
                        </div>
                        <div>{# day content here #}
                        </div>
                      </div>
                    </td>
                    {% if loop.last and dow != 6 %}
                      <td colspan="{{ 6 - dow }}">
                        &nbsp;
                      </td>
                    {% endif %}
                    {% if dow == 6 %}
                      {% set dow = 0 %}
                    </tr>
                    <tr>
                    {% else %}
                      {% set dow = dow + 1 %}
                  {% endif %}
                {% endfor %}
              </tr>
            </tbody>
          </table>
        {# FIN CALENDRIERS #}

        </div>
      {# fin fiche véhicule #}

      {% endblock %}
      