{% extends 'base.html.twig' %}

{% block body %}

	{{ include('accueil/reserver/modale_debut.html.twig' )}}

	{{ include('accueil/reserver/modale_fin.html.twig' )}}

	{{ include('accueil/reserver/fil_arianne.html.twig' )}}

	{# fiche véhicule #}
	<div
		id="fiche-vehicule" class="cs-fiche-vehicule">

		{# GALLERIE #}
		{% set len = vehicule.photos|length %}

		<div
			class="cs-gallerie fr-grid-row fr-grid-row--gutters">
			{# vue principale #}
			<figure class="fr-col-{{ len <= 1 ? '12' : len == 2 ? '6' : '9' }}">
				<img src="{{ len > 0 ? asset('images/uploads/' ~ vehicule.photos[0].path) : asset('images/no_image.jpg') }}" class="fr-responsive-img cs-figure cs-figure--main" alt="Vue principale du véhicule">
				<figcaption class="hidden">
					Vue principale du véhicule
				</figcaption>
			</figure>

			{# vue de profil #}
			{% if(len > 1) %}
				<div class="fr-col-{{ len == 2 ? '6' : '3 fr-mt-1w' }}">
					<figure class="cs-figure">
						<button class="fr-btn cs-gallerie-btn">
							<img src="{{ asset('images/uploads/' ~ vehicule.photos[1].path) }}" class="fr-responsive-img" alt="Vue de l'avant du véhicule"></button>
						<figcaption class="hidden">
							Vue de profil du véhicule
						</figcaption>
					</figure>

					{# vue de l'avant #}
					{% if(len > 2) %}
						<figure class="cs-figure">
							<button class="fr-btn cs-gallerie-btn">
								<img src="{{ asset('images/uploads/' ~ vehicule.photos[2].path) }}" class="fr-responsive-img" alt="Vue de l'avant du véhicule"></button>
							<figcaption class="hidden">
								Vue de l'avant du véhicule
							</figcaption>
						</figure>
					{% endif %}

					{# vue de l'arrière #}
					{% if(len > 3) %}
						<figure class="cs-figure">
							<button class="fr-btn cs-gallerie-btn">
								<img src="{{ asset('images/uploads/' ~ vehicule.photos[3].path) }}" class="fr-responsive-img" alt="Vue de l'arrière du véhicule"></button>
							<figcaption class="hidden">
								Vue de l'arrière du véhicule
							</figcaption>
						</figure>
					{% endif %}
				</div>
			{% endif %}
		</div>

		{# FIN GALERIE #}

		{# DESCRIPTION VL #}
		<dl class="fr-col-12">
			<dt class="cs-marque">
				{{ vehicule.marque }}
				<span class="cs-modele">
					{{ vehicule.modele }}
				</span>
			</dt>

			{% if (vehicule.motorisation ~ vehicule.finition) is empty %}
				<br/>
			{% else %}
				<dd>
					{{ vehicule.motorisation ~ ' ' ~ vehicule.finition }}
				</dd>
			{% endif %}
			<dd>
				<ul class="fr-tags-group cs-tags">
					<li>
						<p class="fr-tag fr-tag--sm fr-fi-map-pin-2-fill fr-tag--icon-left cs-location-tag" title="{{ vehicule.unite.nomLong }}">
							{{ vehicule.unite.nomCourt }}
						</p>
					</li>
					<li>
						<p class="fr-tag fr-tag--sm">
							{{ vehicule.transmission.code }}
						</p>
					</li>
					<li>
						<p class="fr-tag fr-tag--sm">
							{{ vehicule.carburant.libelle }}
						</p>
					</li>
					<li>
						<p class="fr-tag fr-tag--sm">
							{{ vehicule.NbPlaces }}
							{{ vehicule.NbPlaces > 1 ? 'places' : 'place' }}
						</p>
					</li>
				</ul>
			</dd>
			{% if vehicule.restriction.code != 'NONE' and vehicule.restriction is not empty %}
				{% set badge_class = vehicule.restriction.code != "NON_OPE" ? 'info' : 'warning' %}
				<dd>
					<div class="fr-alert fr-alert--{{ badge_class }}">
						<h3 class="fr-alert__title">{{ vehicule.restriction.description }}</h3>
					</div>
				</dd>
			{% endif %}
		</dl>
		{# FIN DESCRIPTION VL #}

		{# INFORMATIONS #}
		<div class="fr-col-12">
			<p class="cs-informations">
				Informations
			</p>
			<p class="fr-mt-2w">
				{% if vehicule.observation %}
					{{ vehicule.observation}}
				{% else %}
					Néant
				{% endif %}
			</p>
		</div>
		{# FIN INFORMATIONS #}

		{# JE RÉSERVE #}

		{{ form_start(form) }}

		<div class="fr-col-12">
			<p class="cs-informations">
				Disponibilités
			</p>

			<div id="cs-filtres-container" class="cs-filtres-container">

				<input id="form-field--date_debut" type="hidden" name="{{ field_name(form.date_debut) }}" value="{{ field_value(form.date_debut) }}" class="form-control">

				<input id="form-field--heure_debut" type="hidden" name="{{ field_name(form.heure_debut) }}" value="{{ field_value(form.heure_debut) }}" class="form-control">

				<input id="form-field--date_fin" type="hidden" name="{{ field_name(form.date_fin) }}" value="{{ field_value(form.date_fin) }}" class="form-control">

				<input id="form-field--heure_fin" type="hidden" name="{{ field_name(form.heure_fin) }}" value="{{ field_value(form.heure_fin) }}" class="form-control">

				<input id="form-field--user" type="hidden" name="{{ field_name(form.user) }}" value="{{ field_value(form.user) }}" class="form-control">

				<input id="form-field--vehicule" type="hidden" name="{{ field_name(form.vehicule) }}" value="{{ field_value(form.vehicule) }}" class="form-control">

				<input
				id="form-field--statut" type="hidden" name="{{ field_name(form.statut) }}" value="{{ field_value(form.statut) }}" class="form-control">

				{# DE ... -> À ... #}
				<div class="cs-btn-ctnr cs-date-ctnr">
					<button type="button" id="cs-btn--from" class="bordered cs-btn cs-btn-from-to cs-btn--left">
						<span class="cs-from-to">
							Début
						</span>
						<span id="select-from-date--target" class="cs-from-to-value">
							<div id="from-value--date" class="cs-from-to-value--date">
								{{ filtered ? from.date : '__' }}&nbsp;<span class="hide-s">{{ filtered ? year}}</span>
							</div>
							<div id="from-value--heure" class="cs-from-to-value--heure">
								{{ filtered ? from.heure }}
							</div>
						</span>
					</button>
					<div class="separator"></div>
					<button type="button" id="cs-btn--to" class="cs-btn cs-btn-from-to cs-btn--right">
						<span class=" cs-from-to">
							Fin
						</span>
						<span id="select-to-date--target" class="cs-from-to-value">
							<div id="to-value--date" class="cs-from-to-value--date">
								{{ filtered ? to.date : '__' }}&nbsp;<span class="hide-s">{{ filtered ? year}}</span>
							</div>
							<div id="to-value--heure" class="cs-from-to-value--heure">
								{{ filtered ? to.heure }}
							</div>
						</span>
					</button>
				</div>

				{# Bandeau d'information #}
				<div id="bandeau-info" class="fr-notice fr-notice--warning hidden">
					<div class="fr-container">
						<div class="fr-notice__body">
							<p>
								<span class="fr-notice__title">Conflit</span>
							</p>
							<p class="fr-notice__desc">
								Il y a déjà une réservation dans la période que vous venez de sélectionner.
							</p>
							{# </p> #}
							{# <button title="Masquer le message" onclick="const notice = this.parentNode.parentNode.parentNode; notice.parentNode.removeChild(notice)" id="button-1305" class="fr-btn--close fr-btn">Masquer le message</button> #}
						</div>
					</div>
				</div>

				<div id="form-submit-ctnr" class="{{filtered ? '' : 'hidden ' }}fr-btns-group--right fr-mt-2w fr-mr-1w">
					<div>

						<button id="form-submit-btn" aria-controls="modal-select_valideur" data-fr-opened="false" type="button" class="fr-btn fr-btn--md fr-fi-arrow-right-line fr-btn--icon-right">
							Je réserve
						</button>

					</div>
				</div>

			</div>
		</div>

		{{ include('accueil/reserver/modale_ope.html.twig')}}

		{# {{ include('accueil/reserver/modale_avant_jugement.html.twig')}} #}

		{{ form_end(form) }}

		{# FIN JE RÉSERVE #}

		{{ include('accueil/reserver/calendriers.html.twig')}}

	</div>{# fin fiche véhicule #}{% endblock %}
