{% extends 'base.html.twig' %}

{% block body %}

  {# Fil d'Arianne #}
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">
      Voir le fil d’Ariane
    </button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <a class="fr-breadcrumb__link" href="/">
            Accueil
          </a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" href="/historique">
            Historique
          </a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" aria-current="page">
            Confirmation
          </a>
        </li>
      </ol>
    </div>
  </nav>

  <h1>
    Attente de validation...
  </h1>

  <div class="fr-grid-row">
    <div class="fr-col">
      <p>
        Votre demande de réservation a bien été enregistrée.
        <br>
          Le véhicule que vous souhaitez réserver n'est plus proposé aux autres utilisateurs pendant la période que vous avez choisie.
        </p>
      </div>
    </div>

    <div class="fr-grid-row">
      <div class="fr-col">
        <p>
          Pour autant, afin de garantir sa disponibilité à la date souhaitée,
          <span class="bold">
            votre réservation doit encore être validée hiérachiquement
          </span>
          .
        </p>
      </div>
    </div>

    <a class="fr-grid-row cs-border" href="/historique" title="afficher mon historique">
      <div class="fr-col-12">
        <div class="vehicule-card vehicule-card--result cs-card cs-histo-card fr-mb-2w hoverable shadow">
          <figure class="cs-img-container left">
            <img class="cs-img" src="{{ vehicule.photos | length ? asset('images/uploads/' ~ vehicule.photos[0].path) : asset('images/no_image.jpg') }}" alt="Renault 4l sérigraphiée">
              <figcaption class="hidden">
                Renault 4l sérigraphiée
              </figcaption>
            </figure>

            <div class="left cs-descr-container">

              <p class="fr-tag cs-resa-statut {{ reservation.statut.code | lower | replace({ 'é':'e' }) }}" title="{{ reservation.statut.libelle }}">
                {{ reservation.statut.code }}
              </p>

              <dl>
                <dt class="cs-marque">
                  {{ vehicule.marque }}
                  &nbsp;
                  <span class="cs-modele">
                    {{ vehicule.modele }}
                  </span>
                </dt>
                {% if (vehicule.motorisation ~ vehicule.finition) is empty %}
                  <br/>
                {% else %}
                  <dd>
                    {{ vehicule.motorisation ~ ' ' ~ vehicule.finition }}
                  </dd>
                {% endif %}
                <dd>
                  <ul class="fr-tags-group cs-tags">
                    <li>
                      <p class="fr-tag fr-tag--sm">
                        {{ vehicule.transmission.code }}
                      </p>
                    </li>
                    <li>
                      <p class="fr-tag fr-tag--sm">
                        {{ vehicule.carburant.libelle }}
                      </p>
                    </li>
                  </ul>
                </dd>
                <dd title="{{ vehicule.NbPlaces }} place{{ vehicule.NbPlaces > 1 ? 's' : '' }}">
                  {% for i in range(1, vehicule.NbPlaces) %}
                    <i class="cs-user-icon fr-btn fr-icon-user-line fr-btn--icon-left"></i>
                  {% endfor %}
                </dd>
              </dl>

            </div>
          </div>
        </div>
        <div class="cs-from-to fr-col-12 center {{ reservation.statut.code | lower | replace({ 'é':'e' }) }}" title="{{ reservation.statut.libelle }}">
          <p>
            Du
            <span class="bold">
              {{ reservation.dateDebut | date('d/m/Y') }}
              à
              {{ reservation.heureDebut }}
            </span>
            <br>
              au
              <span class="bold">
                {{ reservation.dateFin | date('d/m/Y') }}
                à
                {{ reservation.heureFin }}
              </span>
            </p>
          </div>
        </a>
        <div class="fr-mt-4w fr-grid-row">
          <p class="fr-col-6">
            <a href="/" class="cs-go cs-go-accueil fr-link fr-icon-arrow-left-line fr-link--icon-left" data-fr-js-link-actionee="true">
              <span class="hide-s">
                Retour à la page d'accueil
              </span>
              <span class="hide-m hide-l hide-xl">
                Accueil
              </span>
            </a>
          </p>
          <p class="fr-col-6">
            <a href="/historique" class="cs-go cs-go-histo fr-link fr-icon-arrow-right-line fr-link--icon-right fr-mt-auto fr-mr-0" id="page-switcher__next--composants-et-modeles-composants-liste-deroulante" data-fr-js-link-actionee="true">
              <span class="hide-s">
                Afficher mon historique
              </span>
              <span class="hide-m hide-l hide-xl">
                Historique
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>

  {% endblock %}
  