{% extends 'base.html.twig' %}

{% block body %}

  {# Fil d'Arianne #}
  <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
    <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">
      Voir le fil d’Ariane
    </button>
    <div class="fr-collapse" id="breadcrumb-1">
      <ol class="fr-breadcrumb__list">
        <li>
          <a class="fr-breadcrumb__link" href="/">
            Accueil
          </a>
        </li>
        <li>
          <a class="fr-breadcrumb__link" href="/historique" aria-current="page">
            Historique
          </a>
        </li>
      </ol>
    </div>
  </nav>

  <h1>
    Historique
    <span class="hide-s hide-m">
      &nbsp;de mes réservations
    </span>
  </h1>

  <div class="fr-tabs">
    <ul class="fr-tabs__list" role="tablist" aria-label="[A modifier | nom du système d'onglet]">
      <li role="presentation">
        <button id="tabpanel-futures" class="fr-tabs__tab fr-icon-checkbox-line fr-tabs__tab--icon-left" tabindex="0" role="tab" aria-selected="true" aria-controls="tabpanel-futures-panel">
          <span class="hide-s hide-m">
            Mes réservations&nbsp;
          </span>
          à venir
        </button>
      </li>
      <li role="presentation">
        <button id="tabpanel-passees" class="fr-tabs__tab fr-icon-checkbox-line fr-tabs__tab--icon-left" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-passees-panel">
          <span class="hide-s hide-m">
            Mes réservations&nbsp;
          </span>
          passées
        </button>
      </li>
    </ul>

    {% set passees = [] %}

    <div id="tabpanel-futures-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="tabpanel-futures" tabindex="0">
      <div class="fr-container">
        {# RÉSERVATIONS FUTURES #}
        {% for i, reservation in reservations %}
          {% if( reservation.dateFin | date('U')) >= ('now'|date('U')) %}

            <div class="fr-grid-row cs-border cursor-initial fr-mb-1w" href="/historique">
              <div class="fr-col-12">
                <div class="vehicule-card vehicule-card--result cs-card cs-histo-card fr-mb-2w hoverable shadow">
                  <figure class="cs-img-container left">
                    <img class="cs-img" src="{{ asset('images/4L.jpg') }}" alt="Renault 4l sérigraphiée">
                      <figcaption class="hidden">
                        Renault 4l sérigraphiée
                      </figcaption>
                    </figure>

                    <div class="left cs-descr-container">

                      <p class="fr-tag cs-resa-statut {{ reservation.statut.code | lower | replace({ 'é':'e' }) }}" title="{{ reservation.statut.libelle }}">
                        {{ reservation.statut.code }}
                      </p>

                      {% set vehicule = reservation.vehicule %}

                      <dl>
                        <dt class="cs-marque">
                          {{ vehicule.marque }}
                          &nbsp;
                          <span class="cs-modele">
                            {{ vehicule.modele }}
                          </span>
                        </dt>
                        {% if (vehicule.motorisation ~ vehicule.finition) is empty %}
                          <br/>
                        {% else %}
                          <dd>
                            {{ vehicule.motorisation ~ ' ' ~ vehicule.finition }}
                          </dd>
                        {% endif %}
                        <dd>
                          <ul class="fr-tags-group cs-tags">
                            <li>
                              <p class="fr-tag fr-tag--sm">
                                {{ vehicule.transmission.code }}
                              </p>
                            </li>
                            <li>
                              <p class="fr-tag fr-tag--sm">
                                {{ vehicule.carburant.libelle }}
                              </p>
                            </li>
                          </ul>
                        </dd>
                        <dd title="{{ vehicule.NbPlaces }} place{{ vehicule.NbPlaces > 1 ? 's' : '' }}">
                          {% for i in range(1, vehicule.NbPlaces) %}
                            <i class="cs-user-icon fr-btn fr-icon-user-line fr-btn--icon-left"></i>
                          {% endfor %}
                        </dd>
                      </dl>

                    </div>
                  </div>
                </div>
                <div class="cs-from-to fr-col-12 center {{ reservation.statut.code | lower | replace({ 'é':'e' }) }}" title="{{ reservation.statut.libelle }}">
                  <p>
                    Du
                    <span>
                      {{ reservation.dateDebut | date('d/m/Y') }}
                      à
                      {{ reservation.heureDebut }}
                    </span>
                    <br>
                      au
                      <span>
                        {{ reservation.dateFin | date('d/m/Y') }}
                        à
                        {{ reservation.heureFin }}
                      </span>
                    </p>
                  </div>
                </div>

              {% else %}
                {% set passees = passees | merge([i]) %}
              {% endif %}
            {% endfor %}
          </div>
        </div>

        <div id="tabpanel-passees-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-passees" tabindex="0">
          <div class="fr-container">
            {# RÉSERVATIONS PASSÉES #}
            {% for i in passees %}

              {% set reservation = reservations[i] %}

              <div class="fr-grid-row cs-border fr-mb-1w" href="/historique">
                <div class="fr-col-12">
                  <div class="vehicule-card vehicule-card--result cs-card cs-histo-card fr-mb-2w hoverable shadow">
                    <figure class="cs-img-container left">
                      <img class="cs-img" src="{{ asset('images/4L.jpg') }}" alt="Renault 4l sérigraphiée">
                        <figcaption class="hidden">
                          Renault 4l sérigraphiée
                        </figcaption>
                      </figure>

                      <div class="left cs-descr-container">

                        <p class="fr-tag cs-resa-statut {{ reservation.statut.code | lower | replace({ 'é':'e' }) }}" title="{{ reservation.statut.libelle }}">
                          {{ reservation.statut.code }}
                        </p>

                        {% set vehicule = reservation.vehicule %}

                        <dl>
                          <dt class="cs-marque">
                            {{ vehicule.marque }}
                            &nbsp;
                            <span class="cs-modele">
                              {{ vehicule.modele }}
                            </span>
                          </dt>
                          {% if (vehicule.motorisation ~ vehicule.finition) is empty %}
                            <br/>
                          {% else %}
                            <dd>
                              {{ vehicule.motorisation ~ ' ' ~ vehicule.finition }}
                            </dd>
                          {% endif %}
                          <dd>
                            <ul class="fr-tags-group cs-tags">
                              <li>
                                <p class="fr-tag fr-tag--sm">
                                  {{ vehicule.transmission.code }}
                                </p>
                              </li>
                              <li>
                                <p class="fr-tag fr-tag--sm">
                                  {{ vehicule.carburant.libelle }}
                                </p>
                              </li>
                            </ul>
                          </dd>
                          <dd title="{{ vehicule.NbPlaces }} place{{ vehicule.NbPlaces > 1 ? 's' : '' }}">
                            {% for i in range(1, vehicule.NbPlaces) %}
                              <i class="cs-user-icon fr-btn fr-icon-user-line fr-btn--icon-left"></i>
                            {% endfor %}
                          </dd>
                        </dl>

                      </div>
                    </div>
                  </div>
                  <div class="cs-from-to fr-col-12 center {{ reservation.statut.code | lower | replace({ 'é':'e' }) }}" title="{{ reservation.statut.libelle }}">
                    <p>
                      Du
                      <span class="bold">
                        {{ reservation.dateDebut | date('d/m/Y') }}
                        à
                        {{ reservation.heureDebut }}
                      </span>
                      <br>
                        au
                        <span class="bold">
                          {{ reservation.dateFin | date('d/m/Y') }}
                          à
                          {{ reservation.heureFin }}
                        </span>
                      </p>
                    </div>
                  </div>

                {% endfor %}
              </div>
            </div>
          </div>

        {% endblock %}
        