{% extends 'base.html.twig' %}

{% block body %}

	{# Fil d'Arianne #}
	<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
		<button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">
			Voir le fil d’Ariane
		</button>
		<div class="fr-collapse" id="breadcrumb-1">
			<ol class="fr-breadcrumb__list">
				<li>
					<a class="fr-breadcrumb__link" href="{{ path('resa_accueil') }}">
						Accueil
					</a>
				</li>
				<li>
					<a class="fr-breadcrumb__link" href="{{ path('resa_compte') }}">
						Compte
					</a>
				</li>
				<li>
					<a class="fr-breadcrumb__link" aria-current="page">
						Suivi des réservations
					</a>
				</li>
			</ol>
		</div>
	</nav>

	<h1>
		Suivre les réservations
	</h1>

	<div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
		<div class="fr-col-12 fr-col-sm-12 fr-col-md-3">
			<label class="fr-label" for="filtervehicule">Véhicule</label>
			<select class="fr-select" id="filter-vehicule">
				<option value="">Tous les véhicules</option>
				{% for vl in liste_vehicules %}
					<option title="{{vl.restriction.libelle}}" value="{{ vl.id }}">{{ '[' ~ restrictions[vl.restriction.code] ~ '] ' ~ vl.marque ~ ' ' ~ vl.modele ~ ' ' ~ vl.immatriculation ~ ' - ' ~ (vl.serigraphie ? ' sérigraphié' : ' non sérigraphié')}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="fr-col-12 fr-col-sm-4 fr-col-md-3">
			<label class="fr-label" for="filter-user">Utilisateur</label>
			<input class="fr-input" type="text" id="filter-user" placeholder="Nigend ou prenom.nom">
		</div>
		<div class="fr-col-12 fr-col-sm-4 fr-col-md-3">
			<label class="fr-label" for="filter-datedebut">Période (à partir du ...)</label>
			<input class="fr-input" type="date" id="filter-datedebut">
		</div>
		<div class="fr-col-12 fr-col-sm-4 fr-col-md-3">
			<label class="fr-label" for="filter-datefin">Période (jusqu'au...)</label>
			<input class="fr-input" type="date" id="filter-datefin">
		</div>

		<div class="fr-col-12 fr-col-sm-12 fr-col-md-12">
			<fieldset class="fr-fieldset" id="restrictions-form" aria-labelledby="restrictions-form-legend restrictions-form-messages">
				<legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="restrictions-form-legend">
					Restriction
				</legend>
				{% for key, value in unique_restrictions %}
					{% if value != "" %}
						<div class="fr-fieldset__element fr-fieldset__element--inline">
							<div class="fr-checkbox-group">
								<input name="checkbox-{{key}}" id="checkbox-{{key}}" type="checkbox" aria-describedby="checkbox-{{key}}-messages">
								<label class="fr-label" for="checkbox-{{key}}">
									{{ value }}
								</label>
								<div class="fr-messages-group" id="checkbox-{{key}}-messages" aria-live="polite"></div>
							</div>
						</div>
					{% endif %}
				{% endfor %}

				<div class="fr-messages-group" id="restrictions-form-messages" aria-live="polite"></div>
			</fieldset>
		</div>
	</div>

	<div class="fr-table">
		<div class="fr-table__wrapper">
			<div class="fr-table__container">
				<div class="fr-table__content">
					<table class="no-starter">
						<caption class="w100">
							{{ reservations | length }}&nbsp;réservation{{ reservations | length > 1 ?'s':'' }}&nbsp;en cours ou à venir.
						</caption>
						<thead>
							<tr>
								<th scope="col" class="sortable" data-type="date">
									<button type="button" class="fr-btn--tertiary-no-outline fr-icon-arrow-up-down-line fr-btn--icon-right">Début</button>
								</th>
								<th scope="col" class="sortable" data-type="date">
									<button type="button" class="fr-btn--tertiary-no-outline fr-icon-arrow-up-down-line fr-btn--icon-right">Fin</button>
								</th>
								<th scope="col" class="sortable" data-type="text">
									<button type="button" class="fr-btn--tertiary-no-outline fr-icon-arrow-up-down-line fr-btn--icon-right">Véhicule</button>
								</th>
								<th scope="col">
									<button type="button" class="fr-btn--tertiary-no-outline fr-icon-arrow-up-down-line fr-btn--icon-right">Observation</button>
								</th>
								<th scope="col" class="sortable" data-type="text">
									<button type="button" class="fr-btn--tertiary-no-outline fr-icon-arrow-up-down-line fr-btn--icon-right">Réservé par</button>
								</th>
								<th scope="col" class="sortable" data-type="text">
									<button type="button" class="fr-btn--tertiary-no-outline fr-icon-arrow-up-down-line fr-btn--icon-right">Statut</button>
								</th>
							</tr>
						</thead>
						<tbody>

							{% for i, resa in reservations %}

								{% set vl = resa.vehicule %}
								{% set color = "normal" %}
								{% if resa.statut.code == 'Confirmée' %}
									{% set color = "green" %}
								{% elseif resa.statut.code == 'Annulée'%}
									{% set color = "red" %}
								{% elseif resa.statut.code == 'En cours'%}
									{% set color = "grey" %}
								{% endif %}


								<tr id="table-row-key-{{i}}" data-row-key="{{i}}" data-id="{{ resa.id }}" data-restriction="{{resa.vehicule.restriction.code}}" class="bg-{{ color }}">
									<td>
										{{date(resa.dateDebut) | date('d/m/Y')}}&nbsp;{{resa.heureDebut}}
									</td>
									<td>
										{{date(resa.dateFin) | date('d/m/Y')}}&nbsp;{{resa.heureFin}}
									</td>
									<td data-vl="{{ resa.vehicule.id }}">
										{{ vl.marque }}
										{{ vl.modele }}
										-
										{{ vl.immatriculation }}
									</td>
									<td class="clip">

										{% if resa.observation | length >= 30 %}
											<abbr title="{{ resa.observation }}">{{ resa.observation }}</abbr>
										{% else %}
											{{ resa.observation }}
										{% endif %}

									</td>

									<td>
										{% if resa.user != resa.demandeur and resa.demandeur is not null %}
											par&nbsp;{{resa.user |trim('0') }}&nbsp;({{ nigends[resa.user] }})&nbsp;pour&nbsp;{{resa.demandeur|trim('0')}}({{ nigends[resa.demandeur] }})
										{% else %}
											par&nbsp;{{resa.user |trim('0') }}
											({{ nigends[resa.user] }})
										{% endif %}
									</td>

									<td title="{{ resa.statut.libelle }}">
										{{ resa.statut.code }}
									</td>

									{# <td>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																				@todo
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																			</td> #}
								</tr>

							{% else %}

								<tr id="table-row-key-1" data-row-key="1">
									<td colspan="6">
										Il n'y a aucune réservation en cours ou à venir.
									</td>
								</tr>

							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
