{% extends 'base.html.twig' %}

{% block body %}

	{# Fil d'Arianne #}
	<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
		<button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">
			Voir le fil d’Ariane
		</button>
		<div class="fr-collapse" id="breadcrumb-1">
			<ol class="fr-breadcrumb__list">
				<li>
					<a class="fr-breadcrumb__link" href="{{ path('resa_accueil') }}">
						Accueil
					</a>
				</li>
				<li>
					<a class="fr-breadcrumb__link" href="{{ path('resa_compte') }}">
						Compte
					</a>
				</li>
				<li>
					<a class="fr-breadcrumb__link" aria-current="page">
						Validation
					</a>
				</li>
			</ol>
		</div>
	</nav>

	<h1>
		Valider les réservations
	</h1>

	<p class="cs-nb-vehicules fr-h6 fr-ml-1v">
		<span id="nb">
			{{ reservations | length }}
		</span>
		&nbsp;réservation<!--
																																																																																													    --><span id="nb-plur"><!--
																																																																																													    -->{{ reservations | length > 1 ?'s':'' }}
		</span>
		à valider:
	</p>

	{% if reservations | length > 0 %}
		<p>
			Survolez à l'aide de la souris les réservations affichées ci-dessous pour afficher les options disponibles.
			<br>
			{% if filtre_validateur == "SOLC" or filtre_validateur == "CSAG" %}
				Toutes les réservations sont affichées (profil
				{{filtre_validateur}}).
			{% elseif filtre_validateur == "PJ" %}
				Toutes les réservations sont affichées, à l'exception de celles portant sur un véhicule avec restriction "Etat-Major"
			{% elseif filtre_validateur =='EM' %}
				Seuls sont affichés les véhicules portant la restriction "Etat-Major"
			{% endif %}
		</p>
	{% endif %}

	{% for reservation in reservations %}
		{% set vehicule = reservation.vehicule %}
		<div id="valid-resa-{{ reservation.id }}" class="fr-grid-row cs-border fr-mb-1w valid-resa relative">

			<div class="loader hidden">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewbox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
					<path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
																																																																																																																																																																																										            s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
																																																																																																																																																																																										          c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
					<path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
																																																																																																																																																																																																																									            C22.32,8.481,24.301,9.057,26.013,10.047z">
						<animateTransform attributetype="xml" attributename="transform" type="rotate" from="0 20 20" to="360 20 20" dur="0.5s" repeatcount="indefinite"/>
					</path>
				</svg>
			</div>

			<div class="fr-col-12">
				<div class="vehicule-card vehicule-card--result cs-card cs-histo-card fr-mb-2w hoverable shadow">
					<figure class="cs-img-container left">
						<img class="cs-img" src="{{ vehicule.photos | length ? asset('images/uploads/' ~ vehicule.photos[0].path) : asset('images/no_image.jpg') }}" alt="{{ vehicule.marque ~ ' ' ~ vehicule.modele }}">
						<figcaption class="hidden">
							Vue principale du véhicule
						</figcaption>
					</figure>

					<div class="left cs-descr-container">

						<p class="fr-tag cs-resa-statut {{ reservation.statut.code | lower | replace({ 'é':'e' }) }}">
							<span class="fr-text--xs">
								Réservé par&nbsp;
							</span><!-- -->{{ reservation.user == nigend ? 'Vous' | upper : reservation.user | trim('0', 'left') }}
						</p>

						<dl>
							<dt class="cs-marque">
								{{ vehicule.immatriculation }}&nbsp;{{ vehicule.marque }}
								&nbsp;
								<span class="cs-modele">
									{{ vehicule.modele }}
								</span>
							</dt>
							{% if (vehicule.motorisation ~ vehicule.finition) is empty %}
								<br/>
							{% else %}
								<dd class="motorisation">
									{{ vehicule.motorisation ~ ' ' ~ vehicule.finition }}
								</dd>
							{% endif %}
							<dd>
								<ul class="fr-tags-group cs-tags">
									<li>
										<p class="fr-tag fr-tag--sm">
											{{ vehicule.transmission.code }}
										</p>
									</li>
									<li>
										<p class="fr-tag fr-tag--sm">
											{{ vehicule.carburant.libelle }}
										</p>
									</li>
									<li>
										<p class="fr-tag fr-tag--sm">
											{{ vehicule.NbPlaces }}
											place{{ vehicule.NbPlaces > 1 ? 's' : '' }}
										</p>
									</li>
								</ul>
							</dd>
							<dd class="observation">
								Observation:
								{% if reservation.observation is empty %}
									Néant
								{% else %}
									<span class="bold">"{{ reservation.observation }}"</span>
								{% endif %}
							</dd>
						</dl>

					</div>
				</div>
			</div>
			<div class="cs-from-to fr-col-12 center {{ reservation.statut.code | lower | replace({ 'é':'e' }) }}">
				<p>
					Du
					<span class="bold">
						{{ reservation.dateDebut | date('d/m/Y') }}
						à
						{{ reservation.heureDebut }}
					</span>
					<br>
					au
					<span class="bold">
						{{ reservation.dateFin | date('d/m/Y') }}
						à
						{{ reservation.heureFin }}
					</span>
				</p>
			</div>

			<div class="valid-resa--menu">

				<ul class="fr-btns-group fr-btns-group--inline-sm fr-btns-group--right fr-mr-2w">
					<li class="center">
						<button data-fr-opened="false" data-id="{{ reservation.id }}" aria-controls="fr-modal-suppression" class="annul-resa fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-delete-line">
							Supprimer
						</span>
						<span class="hide-m hide-l hide-xl">
							.</span>
					</li>
				</button>
			</li>
			<li class="center">
				<button data-fr-opened="false" data-id="{{ reservation.id }}" aria-controls="fr-modal-modification" class="modif-resa fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-ball-pen-line">
					Modifier
					<span class="hide-m hide-l hide-xl">
						.
					</span>
				</button>
			</li>
			<li class="center">
				<button data-fr-opened="false" data-id="{{ reservation.id }}" aria-controls="fr-modal-confirmation" class="valid-resa fr-btn fr-btn--primary fr-btn--icon-left fr-icon-checkbox-circle-line">
					Valider
				</button>
			</li>
		</ul>
	</div>

</div>{% else %}
<p>
	Lorsque de nouvelles réservations seront effectuées, elles apparaitront ci-dessous.
</p>
<div class="fr-mt-4w fr-grid-row relative">
	<p class="fr-col-6">
		<a href="{{ path('resa_accueil') }}" class="cs-go cs-go-accueil fr-link fr-icon-arrow-left-line fr-link--icon-left" data-fr-js-link-actionee="true">
			<span class="hide-s">
				Retour à la page d'accueil
			</span>
			<span class="hide-m hide-l hide-xl">
				Accueil
			</span>
		</a>
	</p>
	<p class="fr-col-6">
		<a href="{{ path('resa_compte') }}" class="right cs-go cs-go-compte fr-link fr-icon-arrow-right-line fr-link--icon-right fr-mt-auto fr-mr-0" id="page-switcher__next--composants-et-modeles-composants-liste-deroulante" data-fr-js-link-actionee="true">
			<span class="hide-s">
				Aller vers mon compte
			</span>
			<span class="hide-m hide-l hide-xl">
				Mon compte
			</span>
		</a>
	</p>
</div>{% endfor %}{# MODALE DE CONFIRMATION #}<dialog aria-labelledby="fr-modal-confirmation-title" id="fr-modal-confirmation" class="fr-modal" role="dialog">
<div class="fr-container fr-container--fluid fr-container-md">
	<div class="fr-grid-row fr-grid-row--center">
		<div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
			<div class="fr-modal__body">
				<div class="fr-modal__header">
					<button class="fr-btn--close fr-btn" aria-controls="fr-modal-confirmation">
						Fermer
					</button>
				</div>
				<div class="fr-modal__content">
					<h1 id="fr-modal-confirmation-title" class="fr-modal__title">
						<span class="fr-icon-arrow-right-line fr-icon--lg"></span>
						Confirmation
					</h1>
					<p>
						En cliquant sur le bouton ci-dessous, vous validez la réservation de cette utilisateur.
					</p>
				</div>
				<div class="fr-modal__footer">
					<div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
						<button id="valid-resa--confirm" class="fr-btn fr-icon-delete-line fr-btn--icon-left fr-btn--secondary">
							Je valide cette réservation
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div></dialog>{# FIN MODALE DE CONFIRMATION #}{# MODALE DE MODIFICATION #}<dialog aria-labelledby="fr-modal-modification-title" id="fr-modal-modification" class="fr-modal" role="dialog">
<div class="fr-container fr-container--fluid fr-container-md">
	<div class="fr-grid-row fr-grid-row--center">
		<div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
			<div class="fr-modal__body">
				<div class="fr-modal__header">
					<button class="fr-btn--close fr-btn" aria-controls="fr-modal-modification">
						Fermer
					</button>
				</div>
				<div class="fr-modal__content">
					<h1 id="fr-modal-modification-title" class="fr-modal__title">
						<span class="fr-icon-arrow-right-line fr-icon--lg"></span>
						Confirmation
					</h1>
					<p>
						Vous souhaitez modifier la réservation de cette utilisateur.
						<br>
						Sélectionnez un véhicule similaire à celui demandé par l'utilisateur,
																																																																																																																																																																																										                    en tenant compte du nombre de places assises et éventuellement de la présence, ou non, d'une sérigraphié sur le véhicule.
					</p>

					<div class="fr-select-group fr-select-group">
						<label class="fr-label" for="vl-remplacement">
							Sélectionnez un véhicule de remplacement
						</label>
						<select class="fr-select" id="vl-remplacement" name="vl-remplacement">
							<option value="" selected>
								Recherche de véhicule de remplacement en cours...
							</option>
						</select>
					</div>

					<div class="fr-input-group" id="input-group-31">
						<label class="fr-label" for="msg-demandeur--confirm">
							Message au demandeur
						</label>
						<textarea class="fr-input" aria-describedby="msg-demandeur--confirm-messages" id="msg-demandeur--confirm"></textarea>
						<div class="fr-messages-group" id="msg-demandeur--confirm-messages" aria-live="polite"></div>
					</div>

				</div>
				<div class="fr-modal__footer">
					<div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
						<button disabled id="modif-resa--confirm" class="fr-btn fr-icon-ball-pen-line fr-btn--icon-left fr-btn--secondary">
							Je confirme la modification
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div></dialog>{# FIN MODALE DE MODIFICATION #}{# MODALE DE SUPPRESSION #}<dialog aria-labelledby="fr-modal-suppression-title" id="fr-modal-suppression" class="fr-modal" role="dialog">
<div class="fr-container fr-container--fluid fr-container-md">
	<div class="fr-grid-row fr-grid-row--center">
		<div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
			<div class="fr-modal__body">
				<div class="fr-modal__header">
					<button class="fr-btn--close fr-btn" aria-controls="fr-modal-suppression">
						Fermer
					</button>
				</div>
				<div class="fr-modal__content">
					<h1 id="fr-modal-suppression-title" class="fr-modal__title">
						<span class="fr-icon-arrow-right-line fr-icon--lg"></span>
						Confirmation
					</h1>
					<p>
						En cliquant sur le bouton ci-dessous, vous confirmez l'annulation
						<span class="underline"><!--
																																																																																																																																																																																																																									                    -->définitive<!--
																																																																																																																																																																																																																									                    --></span>
						de la réservation.
					</p>

					<div class="fr-input-group" id="input-group-31">
						<label class="fr-label" for="msg-demandeur--delete">
							Message au demandeur
						</label>
						<textarea class="fr-input" aria-describedby="msg-demandeur--delete-messages" id="msg-demandeur--delete"></textarea>
						<div class="fr-messages-group" id="msg-demandeur--delete-messages" aria-live="polite"></div>
					</div>

				</div>
				<div class="fr-modal__footer">
					<div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
						<button id="annul-resa--confirm" class="fr-btn fr-icon-delete-line fr-btn--icon-left fr-btn--secondary">
							Je confirme l'annulation de cette réservation
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div></dialog>{# FIN MODALE DE SUPPRESSION #}{% endblock %}
